@charset "UTF-8";

body{
    background: black url(../pacote-d013/imagens/fundo-madeira.jpg) center top no-repeat fixed;
    background-size: cover;
}

section#celular {
    position: relative;
}

section#menu {
    position: absolute;
    left: 96%;
}

section#menu > a > img {
    width: 50px;
    margin-bottom: 20px;
    border-radius: 50%;
    box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.616);
}

section#menu img:hover {
    
}

img#iPhone {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 22%);
}

iframe{
    width: 268px;
    height: 473px;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 46%);
}